In [12]:
import pandas as pd

In [15]:
df = pd.read_csv('MLB-GameLogs-1871_2016.csv')
df.describe()

/home/antoine/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (12,13,14,15,19,20,81,83,85,87,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,date,number_of_game,v_game_number,h_game_number,v_score,h_score,length_outs,attendance,length_minutes,v_at_bats,...,v_player_9_def_pos,h_player_1_def_pos,h_player_2_def_pos,h_player_3_def_pos,h_player_4_def_pos,h_player_5_def_pos,h_player_6_def_pos,h_player_7_def_pos,h_player_8_def_pos,h_player_9_def_pos
count,1.719070e+05,171907.000000,171907.000000,171907.000000,171907.000000,171907.000000,140841.000000,118877.000000,136701.000000,140838.000000,...,140835.000000,140838.000000,140838.000000,140838.000000,140838.000000,140838.000000,140838.000000,140838.000000,140838.000000,140838.000000
mean,1.953462e+07,0.260897,76.929887,76.953806,4.420582,4.701461,53.619976,20184.247188,150.903329,34.914398,...,1.894778,6.462560,5.914767,6.435770,5.922982,5.786144,5.497628,4.956184,4.080078,1.895873
std,4.149326e+05,0.605667,45.178029,45.162564,3.278489,3.355605,5.571512,14257.381902,34.748160,4.633761,...,1.939072,1.813946,1.946100,2.306364,2.529624,2.521525,2.446669,2.264262,2.167098,1.936534
min,1.871050e+07,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,24.000000,12.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.918052e+07,0.000000,38.000000,38.000000,2.000000,2.000000,51.000000,7962.000000,125.000000,32.000000,...,1.000000,5.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,2.000000,1.000000
50%,1.953053e+07,0.000000,76.000000,76.000000,4.000000,4.000000,54.000000,18639.000000,150.000000,34.000000,...,1.000000,7.000000,6.000000,7.000000,7.000000,6.000000,5.000000,5.000000,4.000000,1.000000
75%,1.989051e+07,0.000000,115.000000,115.000000,6.000000,6.000000,54.000000,31242.000000,173.000000,37.000000,...,1.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,6.000000,6.000000,1.000000
max,2.016100e+07,3.000000,165.000000,165.000000,49.000000,38.000000,156.000000,99027.000000,1245.000000,85.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [16]:
df.head()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,...,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,na,1,FW1,na,1,0,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,na,1,WS3,na,1,20,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,na,2,RC1,na,1,12,...,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,na,3,CH1,na,1,12,...,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,na,2,TRO,na,1,9,...,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [17]:
for column in df.columns:
    print(column)

date
number_of_game
day_of_week
v_name
v_league
v_game_number
h_name
h_league
h_game_number
v_score
h_score
length_outs
day_night
completion
forefeit
protest
park_id
attendance
length_minutes
v_line_score
h_line_score
v_at_bats
v_hits
v_doubles
v_triples
v_homeruns
v_rbi
v_sacrifice_hits
v_sacrifice_flies
v_hit_by_pitch
v_walks
v_intentional walks
v_strikeouts
v_stolen_bases
v_caught_stealing
v_grounded_into_double
v_first_catcher_interference
v_left_on_base
v_pitchers_used
v_individual_earned_runs
v_team_earned_runs
v_wild_pitches
v_balks
v_putouts
v_assists
v_errors
v_passed_balls
v_double_plays
v_triple_plays
h_at_bats
h_hits
h_doubles
h_triples
h_homeruns
h_rbi
h_sacrifice_hits
h_sacrifice_flies
h_hit_by_pitch
h_walks
h_intentional walks
h_strikeouts
h_stolen_bases
h_caught_stealing
h_grounded_into_double
h_first_catcher_interference
h_left_on_base
h_pitchers_used
h_individual_earned_runs
h_team_earned_runs
h_wild_pitches
h_balks
h_putouts
h_assists
h_errors
h_passed_balls
h_double_plays
h_triple_plays
hp_umpire_id
hp_umpire_name
1b_umpire_id
1b_umpire_name
2b_umpire_id
2b_umpire_name
3b_umpire_id
3b_umpire_name
lf_umpire_id
lf_umpire_name
rf_umpire_id
rf_umpire_name
v_manager_id
v_manager_name
h_manager_id
h_manager_name
winning_pitcher_id
winning_pitcher_name
losing_pitcher_id
losing_pitcher_name
saving_pitcher_id
saving_pitcher_name
winning_rbi_batter_id
winning_rbi_batter_id_name
v_starting_pitcher_id
v_starting_pitcher_name
h_starting_pitcher_id
h_starting_pitcher_name
v_player_1_id
v_player_1_name
v_player_1_def_pos
v_player_2_id
v_player_2_name
v_player_2_def_pos
v_player_3_id
v_player_3_name
v_player_3_def_pos
v_player_4_id
v_player_4_name
v_player_4_def_pos
v_player_5_id
v_player_5_name
v_player_5_def_pos
v_player_6_id
v_player_6_name
v_player_6_def_pos
v_player_7_id
v_player_7_name
v_player_7_def_pos
v_player_8_id
v_player_8_name
v_player_8_def_pos
v_player_9_id
v_player_9_name
v_player_9_def_pos
h_player_1_id
h_player_1_name
h_player_1_def_pos
h_player_2_id
h_player_2_name
h_player_2_def_pos
h_player_3_id
h_player_3_name
h_player_3_def_pos
h_player_4_id
h_player_4_name
h_player_4_def_pos
h_player_5_id
h_player_5_name
h_player_5_def_pos
h_player_6_id
h_player_6_name
h_player_6_def_pos
h_player_7_id
h_player_7_name
h_player_7_def_pos
h_player_8_id
h_player_8_name
h_player_8_def_pos
h_player_9_id
h_player_9_name
h_player_9_def_pos
additional_info
acquisition_info